<div class="container">
  <app-sidebar></app-sidebar>

  <div class="content">
    <app-header></app-header>

    <div class="ENTETE">
      <h4>Gestion des Offres d'Emploi</h4>

        <!-- champs pour rechercher dans la table  -->
        <div class="search">
          <input type="text" placeholder="Recherche" (input)="onSearchTextChange($event)">
          <i class="fas fa-search"></i>
        </div>

      <button class="btn-primary" (click)="openModal()">Ajouter</button>
    </div>

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Entreprise</th>
            <th>Localisation</th>
            <th>Date de Publication</th>
            <th>Date d'Expiration</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offre of paginatedOffres | filter: searchText">
            <td>{{ offre.titre }}</td>
            <td>{{ offre.description }}</td>
            <td>{{ offre.entreprise }}</td>
            <td>{{ offre.localisation }}</td>
            <td>{{ offre.datePublication | date }}</td>
            <td>{{ offre.dateExpiration | date }}</td>
            <td>
              <button class="btn-edit" (click)="editOffre(offre)"> <i class="fas fa-edit"></i></button>
              <button class="btn-delete" (click)="deleteOffre(offre.id)"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <div class="pagination">
        <button class="prev" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="page-number">{{ currentPage }} / {{ totalPages }}</span>
        <button class="next" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>

    <div class="Formulaire" *ngIf="isModalVisible">
      <div class="form-overlay" (click)="closeModal()"></div>
      <div class="form-content">
        <div class="form-header">
          <h3>{{ editMode ? 'Modifier une Offre' : 'Ajouter une Offre' }}</h3>
          <span class="close-btn" (click)="closeModal()">&times;</span>
        </div>
        <form [formGroup]="offreForm" (ngSubmit)="editMode ? updateOffre() : createOffre()">
          <input type="hidden" formControlName="id">
          <div class="form-group">
            <label for="titre">Titre:</label>
            <input id="titre" formControlName="titre" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea formControlName="description" id="description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="entreprise">Entreprise:</label>
            <input id="entreprise" formControlName="entreprise" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="localisation">Localisation:</label>
            <input id="localisation" formControlName="localisation" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="datePublication">Date de Publication:</label>
            <input id="datePublication" [min]="today" formControlName="datePublication" type="date" class="form-control" (change)="onDatePublicationChange()" required>
          </div>
          <div class="form-group">
            <label for="dateExpiration">Date d'Expiration:</label>
            <input id="dateExpiration" formControlName="dateExpiration" type="date" class="form-control" [min]="minExpirationDate" required>
          </div>
          <button type="submit" class="btn-primary full-width">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
