<div class="container">
  <app-sidebar></app-sidebar>

  <div class="content">
    <app-header></app-header>
    
    <div class="ENTETE">
      <h4>Gestion des Offres d'Emploi</h4>
      <button class="prev" (click)="resetForm()">Ajouter</button>
    </div>

    <div class="table-container">
      <form (ngSubmit)="editMode ? updateOffre() : createOffre()">
        <div>
          <label for="titre">Titre</label>
          <input type="text" [(ngModel)]="newOffre.titre" name="titre" required />
        </div>
        <div>
          <label for="description">Description</label>
          <input type="text" [(ngModel)]="newOffre.description" name="description" required />
        </div>
        <div>
          <label for="entreprise">Entreprise</label>
          <input type="text" [(ngModel)]="newOffre.entreprise" name="entreprise" required />
        </div>
        <div>
          <label for="localisation">Localisation</label>
          <input type="text" [(ngModel)]="newOffre.localisation" name="localisation" required />
        </div>
        <div>
          <label for="datePublication">Date de Publication</label>
          <input type="date" [(ngModel)]="newOffre.datePublication" name="datePublication" required />
        </div>
        <div>
          <label for="dateExpiration">Date d'Expiration</label>
          <input type="date" [(ngModel)]="newOffre.dateExpiration" name="dateExpiration" required />
        </div>
        <button type="submit">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Entreprise</th>
            <th>Localisation</th>
            <th>Date de Publication</th>
            <th>Date d'Expiration</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offre of offres">
            <td>{{ offre.titre }}</td>
            <td>{{ offre.description }}</td>
            <td>{{ offre.entreprise }}</td>
            <td>{{ offre.localisation }}</td>
            <td>{{ offre.datePublication | date }}</td>
            <td>{{ offre.dateExpiration | date }}</td>
            <td>
              <button class="btn-edit" (click)="editOffre(offre)"> <i class="fas fa-edit"></i></button>
              <button class="btn-delete" (click)="deleteOffre(offre.id)"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button class="prev">Previous</button>
        <span class="page-number">1</span>
        <button class="next">Next</button>
      </div>
    </div>
  </div>
</div>
