<aside class="sidebar">
  <div class="logo">
    <img src="LogoMusso.png" alt="MussoDème Logo" class="logo">
  </div>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fas fa-home me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item mb-3">
      <a routerLink="/article" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fas fa-file-alt me-2"></i> Droits des femmes
      </a>
    </li>
    <li class="nav-item mb-3">
      <a routerLink="/formations" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fas fa-graduation-cap me-2"></i> Formations
      </a>
    </li>
  

    <li class="nav-item mb-3">
      <a routerLink="/OffreEmploi" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fas fa-briefcase me-2"></i> OffreEmploi
      </a>
    </li>
    <li class="nav-item mb-3">
      <a routerLink="/utilisateur" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fas fa-user me-2"></i> Utilisateurs
      </a>
    </li>
   
   
  </ul>
</aside>
