 /* Sidebar styles */
 /* Basic styles for the body and container */
$sidebar-selected-color: #FE5C73; // Sidebar selected item color
 .sidebar {
    background-color: #fff;
    width: 250px;
    height: 538px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .nav li {
        margin-bottom: 15px;
        }
        
        .nav a {
        text-decoration: none;
        color: #555;
        display: block;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        }
        
        .nav a:hover {
        background-color: #f0f0f0;
        }
        
        .nav a.active {
        background-color: #e9ecef;
        font-weight: bold;
        color: #FE5C73;
        }
      
        
        .nav i {
        margin-right: 10px;
        
        }
    
        .nav-link.active i {
            color: #FE5C73;; /* Couleur de l'icône du lien actif */
          }


          /* styles.css ou sidebar.component.css */
          .btn-custom {
            background-color: #FE5C73; /* Couleur de fond */
            color: white; /* Couleur du texte */
            border: none; /* Supprime les bordures */
            padding: 10px 15px; /* Ajout de l'espace autour du texte */
            border-radius: 5px; /* Bords arrondis */
            width: 100%; /* Largeur complète */
            cursor: pointer; /* Curseur pointeur pour l'interaction */
            transition: background-color 0.3s; /* Transition pour un effet de survol */
            margin-top: 95px; /* Espace au-dessus du bouton */
          }
          
          .btn-custom:hover {
            background-color: #f04e66; /* Couleur de fond au survol */
          }
          
