<div class="container">
  <app-sidebar></app-sidebar>

  <div class="content">
    <app-header></app-header>

    <div class="ENTETE">
      <h4>Liste des formations</h4>

      <!-- champs pour rechercher dans la table  -->
      <div class="search">
        <input type="text" placeholder="Recherche" (input)="onSearchTextChange($event)">
        <i class="fas fa-search"></i>
      </div>
      <!-- Bouton pour ouvrir le modal ou déclencher l'ajout d'une nouvelle formation -->
      <button class="btn-primary" (click)="Ouvrir()">Ajouter</button>
    </div>

    <!-- Formulaire des formations dans un modal -->
    <div class="Formulaire" *ngIf="Isvisible">
      <div class="form-overlay" (click)="Ferme()"></div>
      <div class="form-content">
        <div class="form-header">
          <h3>{{ selectedFormationId ? 'Modifier Formation' : 'Ajouter Formation' }}</h3>
          <span class="close-btn" (click)="Ferme()">&times;</span>
        </div>
        <form [formGroup]="formationForm" (ngSubmit)="selectedFormationId ? updateFormation() : createFormation()">
          <div class="form-group">
            <label>Titre:</label>
            <input formControlName="titre" class="form-control" />
          </div>

          <div class="form-group">
            <label>Description:</label>
            <textarea formControlName="description" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label>Date de Début:</label>
            <!-- Désactiver les dates passées -->
            <input type="date" formControlName="dateDebut" [min]="today" (change)="onDateDebutChange($event)" class="form-control" />
          </div>
          
          <div class="form-group">
            <label>Date de Fin:</label>
            <!-- Désactiver les dates avant la dateDebut -->
            <input type="date" formControlName="dateFin" [min]="minDateFin" class="form-control" />
          </div>

          <div class="form-group">
            <label>Organisateur:</label>
            <input formControlName="organisateur" class="form-control" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn-primary full-width">{{ selectedFormationId ? 'Mettre à jour' : 'Ajouter' }} Formation</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Table des formations -->
    <div class="table-container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Organisateur</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let formation of paginatedFormation | filter: searchText">
            <td>{{ formation.titre }}</td>
            <td>{{ formation.description }}</td>
            <td>{{ formation.dateDebut | date: 'dd/MM/yyyy' }}</td>
            <td>{{ formation.dateFin | date: 'dd/MM/yyyy' }}</td>
            <td>{{ formation.organisateur }}</td>
            <td>
              <button class="btn-edit" (click)="selectFormation(formation)"> <i class="fas fa-edit"></i> </button>
              <button class="btn-delete" (click)="deleteFormation(formation.id)"> <i class="fas fa-trash"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
       <!-- Pagination -->
       <div class="pagination">
        <button class="prev" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="page-number">{{ currentPage }} / {{ totalPages }}</span>
        <button class="next" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  </div>
</div>
