.container {
    display: flex;
    height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    
  }

  .ENTETE{
    margin-left: 20px;
  }
  
  .table-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #f1f1f1;
  }
  
  .table tr {
    border-bottom: 1px solid #eaeaea;
  }
  
  .table tr:last-child {
    border-bottom: none;
  }
  
  .btn-edit, .btn-delete {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .btn-edit {
    color: blue;
  }
  
  .btn-delete {
    color: red;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-number {
    margin: 0 10px;
  }
  
  .prev, .next {
    background-color: #FE5C73;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  
  /* Général styling pour le modal */


  