<div class="container">
  <app-sidebar></app-sidebar>

  <div class="content">
    <app-header></app-header>
    <div class="ENTETE">
      <h4>Gestion des Utilisateurs</h4>
      
      <button class="btn-primary" (click)="Ouvrir()">Ajouter</button> 
    </div>

    <div class="Formulaire" *ngIf="Isvisible">
      <div class="form-overlay"></div>
      <div class="form-content">
        <div class="form-header">
          <h3>{{ selectedUser ? 'Modifier un utilisateur' : 'Ajouter un utilisateur' }}</h3> <!-- Modification du titre -->
          <span class="close-btn" (click)="Ferme()">&times;</span>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="id">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input id="nom" formControlName="nom" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input id="prenom" formControlName="prenom" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input id="password" formControlName="password" type="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="role">Rôle:</label>
            <select formControlName="role" class="form-control">
              <option *ngFor="let role of roles" [value]="role.id">{{ role.nom }}</option>
            </select>
          </div>
          <button type="submit" class="btn-primary full-width">{{ selectedUser ? 'Mettre à jour' : 'Enregistrer' }}</button> <!-- Texte du bouton -->
        </form>
      </div>
    </div>

    <div class="table-container">
      

      <h3>Liste des Utilisateurs</h3>
      
      <table class="table">
        <thead>
          <tr>
            <th>Nom & Prénom</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.nom }} {{ user.prenom }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button class="btn-edit" (click)="editUser(user)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn-delete" (click)="deleteUser(user.id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="pagination">
        <button class="prev">Prev</button>
        <span class="page-number">1</span>
        <button class="next">Next</button>
      </div>
    </div>
  </div>






  

  
  

</div>
